.advantage {
  padding-top: 10px;
  padding-bottom: 22px;
  padding-right: $side-indent-mobile;
  padding-left: $side-indent-mobile;

  @include tablet {
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: $side-indent-tablet;
    padding-left: $side-indent-tablet;
    border-bottom: 1px solid $color-gray-half-light;
  }

  @include desktop {
    max-width: $max-screen-width;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 0;
    padding-right: $side-indent-desktop;
    padding-left: $side-indent-desktop;
    border-bottom: none;
  }
}

.advantage__title {
  margin-top: 8px;
  margin-bottom: 27px;

  @include tablet {
    margin-top: 33px;
    margin-bottom: 12px;
  }
}

.advantage__list {
  @include list-reset-to-null();

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list; // задаёт имя счётчика
  }
}

.advantage__item {
  display: flex;
  min-height: 60px;
  margin-bottom: 20px;

  @include tablet {
    flex-direction: column;
    width: 50%;
    min-height: 228px;
    margin-top: 59px;
    margin-bottom: 29px;
    padding-right: 17%;
    counter-increment: list; // увеличивает значение заданного счётчика
    position: relative;

    &::before {
      content: counter(list); //выводим значение счётчика
      position: absolute;
      left: 115px;
      top: -40px;
      height: 230px;
      width: 114px;
      z-index: -1;

      @include textomizer(regular, 281.07px, 281.07px, none, $color-gray-bright);
    }
  }

  @include desktop {
    width: 20.09%;
    padding-right: 0;
  }
}

.advantage__item--even {
  @include tablet {
    padding-left: 30px;
    padding-right: 10%;

    &::before {
      left: 140px;
    }
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;

    &::before {
      left: 110px;
    }
  }
}

.advantage__icon-wrapper {
  background-color: $color-green-bright;
  width: 60px;
  height: 60px;

  @include tablet {
    width: 80px;
    height: 80px;
  }
}

.advantage__icon-leaf {
  margin-top: 5px;
  margin-left: 4.5px;
  margin-right: 5.5px;

  @include tablet {
    margin-top: 14px;
    margin-left: 15.5px;
  }
}

.advantage__icon-powder {
  margin-top: 4px;
  margin-left: 4.5px;
  margin-right: 5.5px;

  @include tablet {
    margin-top: 15.5px;
    margin-left: 15.5px;
  }
}

.advantage__icon-dining {
  margin-top: 4.5px;
  margin-left: 4px;
  margin-right: 6px;

  @include tablet {
    margin-top: 15.5px;
    margin-left: 15.5px;
  }
}

.advantage__icon-clock {
  margin-top: 4.5px;
  margin-left: 5px;
  margin-right: 6px;

  @include tablet {
    margin-top: 15.5px;
    margin-left: 15.5px;
  }
}

.advantage__text {
  min-width: 220px;
  margin: 0;
  padding-right: 5px;
  padding-left: 20px;
  padding-top: 2px;

  @include textomizer(arial, 14px, 18px);

  @include tablet {
    margin-top: 30px;
    padding-left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    margin-top: 31px;
  }
}

.advantage__span-wrap {
  // Переносит часть текста на другую строку в соответствии с pperfect
  @media (width: 768px), (width: 1440px) {
    &::before {
      content: "";
      display: block;
    }
  }
}
