.advantage {
  min-height: 447px;
  // outline: 0.5px dashed green;

  &__title {
    @include textomizer(regular, 36px, 60px);
  }

  &__list {
    @include flexible();
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    @include flexible();
  }

  &__icon-wrap {
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &__text {
    @include textomizer(arial, 14px, 18px);
  }
}
