html {
  box-sizing: border-box;
}

body {
  width: auto;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 320px;
}

.index {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  outline: 0.5px solid blue;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  outline: 1px dashed blue;
}







// visually-hidden

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}








// Tasker:
// как и где расположить блоки html и body
// уточнить, где расположить box-sizing;
//
//
//
// подключим font






// .container {

//   @media (max-width: 720px) {
//     background-color: green;
//   }
// }
