.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 43px;
    padding-left: $side-indent-tablet;
    padding-right: $side-indent-tablet;
  }

  @include desktop {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
    left: 7.6%;
    padding-left: 35px;
    padding-right: 24px;
    background-color: $color-white;
  }
}

.contacts__invite {
  width: 140px;
  padding-right: 10px;

  @include textomizer(regular, 16px, 20px, uppercase);

  @include tablet {
    width: 220px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__adress {
  width: 140px;
  margin-top: 17px;
  margin-bottom: 16px;

  @include textomizer(arial, 14px, 20px);

  @include tablet {
    width: 220px;
    text-align: right;
    margin-top: 18px;
    padding-right: 42px;
    padding-left: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop {
    text-align: left;
  }
}

.contacts__span-break {
  &::before {
    content: "";
    display: block;
  }
}

.contacts__span-block {
  @include tablet {
    display: block;
    margin-top: 20px;
  }
}
