.contacts {
  min-height: 476px;

  &__text-wrapper {
    @include flexible();
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 14.5px;
    padding-left: 19px;
    padding-right: 18px;
    padding-bottom: 12px;
  }

  &__advertising {
    width: 50%;
    margin-top: 14px;
    margin-bottom: 15px;

    @include textomizer(regular, 16px, 20px, uppercase);
  }

  .contacts__adress {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 14px;

    @include textomizer(arial, 14px, 20px);
  }
}
