.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 13px;
  padding-bottom: 11px;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 43px;
  }
}

.contacts__invite {
  min-width: 50%;
  margin-right: auto;
  padding-right: 10px;

  @include textomizer(regular, 16px, 20px, uppercase);
  outline: 1px dashed red;

  @include tablet {
    max-width: calc(50% - 50px);
    padding-left: 41px;

    @include textomizer(regular, 20px, 25px, uppercase);
  }
}

.contacts__adress {
  margin-top: 16px;
  margin-bottom: 16px;

  @include textomizer(arial, 14px, 20px);
  outline: 1px dashed red;

  @include tablet {
    text-align: right;
    margin-top: 18px;
    padding-right: 42px;
    padding-left: 0;

    @include textomizer(arial, 16px, 20px);
  }

  .contacts__adress-nested {
    @include tablet {
      display: block;
      margin-top: 20px;
    }
  }
}
