.cooperation {
  @include desktop {
  	position: relative;

  	min-height: 400px;
  	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  }
}

.cooperation--gray-background {
  background-color: $color-gray-bright;
}
