.example {
  padding-top: 10px;
  padding-bottom: 33px;
  background-color: $color-gray-bright;

  @include tablet {
    padding-top: 35px;
    padding-bottom: 0;
    background-color: transparent;
  }

  @include desktop {
    padding-top: 16px;
    padding-bottom: 0;
  }
}

.example__title {
  margin-top: 8px;
  margin-bottom: 10px;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;

  @include textomizer(regular, 36px, 60px);

  @include tablet {
    margin-bottom: 50px;
    padding-left: $side-indent-tablet;
    padding-right: $side-indent-tablet;
    font-size: 60px;
  }

  @include desktop {
    margin-bottom: 72px;
    max-width: $max-screen-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $side-indent-desktop;
    padding-right: 45%;
  }
}

.example__content {
  margin: 0 auto;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $color-gray-bright;
  }
}

.example__top {
  padding-top: 5px;
  padding-bottom: 15.5px;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;

  @include tablet {
    padding-left: $side-indent-tablet;
    padding-right: $side-indent-tablet;
    padding-bottom: 234px;
  }

  @include desktop {
    background: $color-gray-bright;
    padding-top: 65px;
    padding-bottom: 46px;
    padding-left: $side-indent-mobile;
    padding-right: 9%;
    max-width: 39.9%;
  }
}

.example__text {
  margin-top: 7.5px;
  margin-bottom: 25px;
  padding-right: 10px;
  padding-left: 0.5px;

  @include textomizer(arial, 14px, 18px);

  @include tablet {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    padding-right: 0;
    margin-bottom: 67px;
  }
}

.example__list {
  @include list-reset-to-null();
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @include tablet {
    display: inline-flex;
    width: 51.7%;
  }

  @include desktop {
    width: 365px;
  }
}

.example__item {
  text-align: center;
  width: 124px;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  position: relative;

  @include tablet {
    width: 162px;
  }

  &::after {
    display: block;
    position: absolute;
    width: 87px;
    left: 17px;
    bottom: -16px;
    padding-left: 14px;
    padding-right: 15px;
    background-color: $color-gray-bright;

    @include textomizer(arial, 12px, 12px, lowercase);

    @include tablet {
      background-color: $color-white;
      font-size: 14px;
      line-height: 14px;
    }

    @include desktop {
      background-color: $color-gray-bright;
    }
  }
}

.example__item--first {
  &::after {
    content: "Снижение веса";

    @include tablet {
      width: 114px;
      left: 22px;
      bottom: -5px;
      padding-left: 5px;
      padding-right: 4px;
    }
  }
}

.example__item--second {
  &::after {
    content: "Затрачено времени";

    @include tablet {
      width: 142px;
      left: 9px;
      bottom: -5px;
      padding-left: 5px;
      padding-right: 4px;
    }
  }
}

.example__item-text {
  margin-top: 14px;
  margin-bottom: 16px;

  @include textomizer(regular, 24px, 24px, uppercase);

  @include tablet {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 37.02px;
  }
}

.example__text-expenses {
  text-align: center;

  @include textomizer(regular, 14px, 20px, uppercase);

  @include tablet {
    width: 27%;
    margin-top: 7px;
    text-align: right;
    float: right;
    font-size: 20px;
    line-height: 29.5px;
  }

  @include desktop {
    width: 100%;
    float: none;
    margin-top: 36px;
    text-align: left;
  }
}

.example__span-expenses {
  @include tablet {
    display: block;
    margin-right: 3px;
  }

  @include desktop {
    display: inline-block;
    margin-right: 0;
    margin-left: 59px;
  }
}
