.example {
  min-height: 704px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;

  &__title {
    margin-top: 7px;
    margin-bottom: 23px;

    @include textomizer(regular, 36px, 60px);
  }

  &__text {
    margin-top: 17px;
    margin-bottom: 23px;
    padding-right: 10px;
    padding-left: 0.5px;

    @include textomizer(arial, 14px, 18px);
  }

  &__text-index {
    @include textomizer(regular, 24px, 24px, uppercase);
  }

  &__text-result {
    @include textomizer(arial, 12px, 12px, uppercase);
  }

  &__text-expenses {
    @include textomizer(regular, 14px, 20px, uppercase);
  }
}
