.example {
  padding-top: 17px;
  padding-bottom: 34px;
  background-color: $color-gray-bright;

  @include tablet {
    padding-top: 0;
    padding-bottom: 73px;
    background-color: $color-gray-index-background;
  }

  @include desktop {
    display: flex;
    padding-bottom: 0;
    background-color: $color-white;
  }
}

.example__top {
  @include tablet {
    padding-top: 42px;
    padding-bottom: 234px;
    background-color: $color-white;
  }

  @include desktop {
    width: 40%;
    padding-top: 23px;
    padding-right: 28px;
    padding-bottom: 35px;
    margin-left: 0;
    margin-right: auto;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 23px;
  padding-right: 30px;

  @include tablet {
    margin-bottom: 63px;
  }

  @include desktop {
    margin-bottom: 145px;
    padding-right: 0;
  }
}

.example__text {
  margin-top: 17px;
  margin-bottom: 25px;
  padding-right: 10px;
  padding-left: 0.5px;

  @include textomizer(arial, 14px, 18px);

  @include tablet {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    padding-right: 0;
    margin-bottom: 67px;
  }
}

.example__list {
  @include list-reset-to-null();
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @include tablet {
    display: inline-flex;
    width: 51.7%;
  }

  @include desktop {
    width: 365px;
  }
}

.example__item {
  text-align: center;
  width: 124px;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  position: relative;

  @include tablet {
    width: 162px;
  }

  &::after {
    display: block;
    position: absolute;
    width: 87px;
    left: 17px;
    bottom: -16px;
    padding-left: 14px;
    padding-right: 15px;
    background-color: $color-gray-bright;

    @include textomizer(arial, 12px, 12px, lowercase);

    @include tablet {
      background-color: $color-white;
      font-size: 14px;
      line-height: 14px;
    }

    @include desktop {
      background-color: $color-gray-bright;
    }
  }

  &:first-of-type {
    &::after {
      content: "Снижение веса";

      @include tablet {
        width: 114px;
        left: 22px;
        bottom: -5px;
        padding-left: 5px;
        padding-right: 4px;
      }
    }
  }

  &:last-of-type {
    &::after {
      content: "Затрачено времени";

      @include tablet {
        width: 142px;
        left: 9px;
        bottom: -5px;
        padding-left: 5px;
        padding-right: 4px;
      }
    }
  }
}

.example__item-text {
  margin-top: 14px;
  margin-bottom: 16px;

  @include textomizer(regular, 24px, 24px, uppercase);

  @include tablet {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 37.02px;
  }
}

.example__text-2 {
  text-align: center;
  margin-bottom: 34px;

  @include textomizer(regular, 14px, 20px, uppercase);

  @include tablet {
    width: 27%;
    margin-top: 7px;
    text-align: right;
    float: right;
    font-size: 20px;
    line-height: 29.5px;
  }

  @include desktop {
    width: 100%;
    float: none;
    margin-top: 36px;
    text-align: left;
  }
}

.example__text-2-span {
  @include tablet {
    display: block;
    margin-right: 3px;
  }

  @include desktop {
    display: inline-block;
    margin-right: 0;
    margin-left: 59px;
  }
}
