.header {
  @include tablet {
    padding-left: $side-indent-tablet;
    padding-right: $side-indent-tablet;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
