.intro {
  position: relative;
  text-align: center;
  padding-top: 0.5px;
  padding-right: $side-indent-mobile;
  padding-left: $side-indent-mobile;

  @include tablet {
    padding-top: 0;
    padding-right: $side-indent-tablet;
    padding-left: $side-indent-tablet;
  }

  @include desktop {
    position: static;
    min-height: 553px;
    max-width: $max-screen-width;
    margin: 0 auto;
    padding-right: $side-indent-desktop;
    padding-left: $side-indent-desktop;
  }
}

.intro::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 63.5%;
  z-index: -1;
  background-color: #69ac40;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-color: #69ac40;
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
    top: 0;
    left: 49.8%;
    width: calc(50% + 1.5px);
    height: 696px;
    background-color: #69ac40;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-color: #69ac40;
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.intro__title {
  @include textomizer(regular, 36px, 36px, none, $color-white);
  margin-top: 27px;
  margin-bottom: 25px;

  @include tablet {
    margin-top: 29.8px;
    margin-bottom: 41.5px;
    margin-left: 87.2px;
    margin-right: 120px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $color-black;
  }

  @include desktop {
    margin-top: 25px;
    margin-bottom: 41px;
    margin-left: 80px;
    margin-right: 54%;
    white-space: normal;
  }
}

.intro__text {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 1px;
  padding-bottom: 10px;

  @include textomizer(regular, 14px, 14px, uppercase, $color-white);

  @include tablet {
    margin-bottom: 3px;
    margin-left: 88px;
    margin-right: 120px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }

  @include desktop {
    margin-left: $side-intro-indent-desktop;
    margin-right: 57%;
    margin-bottom: 44px;
  }
}

.intro__img {
  margin-top: 8px;

  @include tablet {
    width: 709px;
    height: 605px;
    background-size: cover;
  }

  @include desktop {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 133px;
    right: 50%;
    transform: translateX(71%);
  }
}

.intro__btn {
  @include textomizer(regular, 14px, 18px, uppercase, $color-white);
  display: block;
  min-height: 40px;
  margin-top: -1px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $color-green-bright;

  @include tablet {
    position: absolute;
    top: 230px;
    left: 119px;
    width: 245px;
    padding-top: 15.5px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    position: static;
    margin-left: $side-intro-indent-desktop;
    padding-left: 15px;
  }
}

.intro__btn:hover,
.intro__btn:focus {
  background-color: $color-green-hvr;
  transition-duration: 150ms;
}

.intro__btn:active {
  color: $color-green-down;
}
