.intro {
  text-align: center;
  outline: 0.5px dashed green;

  &__presentation {
    text-align: center;
  }

  &__title {
    @include textomizer(regular, 36px);
  }

  &__text {
    @include textomizer(regular, 14px, 14px, uppercase);
  }

  &__btn {
    display: inline-block;
    vertical-align: center;

    @include textomizer(regular, 14px, 18px, uppercase);
    color: #ffffff;
    background-color: #68b738;
  }
}
