.intro {
  text-align: center;
  padding-top: 0.5px;

  @include tablet {
    position: relative;
  }

  @include desktop {
    position: static;
    min-height: 580px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    min-height: 305px;
    z-index: -1;
    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
      top: 0;
      right: 0;
      left: auto;
      width: calc(50% + 1.5px);
      height: 696px;
      background-size: cover;
    }
  }
}

.intro__title {
  @include textomizer(regular, 36px, 36px, none, $color-white);
  margin-top: 27.5px;
  margin-bottom: 25px;

  @include tablet {
    margin-top: 29.5px;
    margin-bottom: 41px;
    margin-left: 87.5px;
    margin-right: 120px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $color-black;
  }

  @include desktop {
    margin-top: 26px;
    margin-bottom: 39px;
    margin-left: $side-intro-indent-desktop;
    margin-right: 54%;
    white-space: normal;
  }
}

.intro__text {
  @include textomizer(regular, 14px, 14px, uppercase, $color-white);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 1px;

  @include tablet {
    margin-bottom: 12px;
    margin-left: 87.5px;
    margin-right: 120px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }

  @include desktop {
    margin-left: $side-intro-indent-desktop;
    margin-bottom: 53px;
  }
}

.intro__img {
  margin-top: 8px;

  @include tablet {
    width: 709px;
    height: 605px;
    margin-top: 8px;
    background-size: cover;
  }

  @include desktop {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 133px;
    right: 50%;
    transform: translateX(71%);
  }
}

.intro__btn {
  @include textomizer(regular, 14px, 18px, uppercase, $color-white);
  display: block;
  min-height: 40px;
  margin-top: -1px;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 5px;
  background-color: $color-green-bright;

  @include tablet {
    position: absolute;
    top: 260px;
    left: 119px;
    width: 245px;
    padding-top: 15.5px;
    padding-bottom: 16px;
    padding-right: 2px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    position: static;
    margin-left: $side-intro-indent-desktop;
  }
}
