.logotype {
  display: flex;
  align-items: center;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;
  padding-top: 13px;
  padding-bottom: 9px;

  @include tablet {
    padding: 0;
  }
}

.logotype__img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @include tablet {
    width: 174px;
    height: 59px;
  }

  @include desktop {
    width: 202px;
    height: 60px;
  }
}

.logotype__button {
  @include mobile-only {
    width: 25px;
    height: 25px;
    margin-bottom: 7px;
    padding: 0;
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  @include tablet {
    display: none;
  }
}

.logotype__line {
  width: 21px;
  height: 2.2px;
  background-color: $color-black;
  border-radius: 1px;
  display: block;
  margin: 4px auto;
  transition: all 0.5s ease-in-out;
}

.logotype__line-first {
  font-size: 0;
}

.logotype__button.is-active .logotype__line-first {
  width: 24px;
  transform: translateY(7px) rotate(45deg);
}

.logotype__button.is-active .logotype__line-second {
  opacity: 0;
}

.logotype__button.is-active .logotype__line-third {
  width: 24px;
  transform: translateY(-5px) rotate(-45deg);
}
