.logotype {
  display: flex;
  align-items: center;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;
  padding-top: 13px;
  padding-bottom: 9px;
  // border-bottom: 1px solid $color-gray-light;

  @include tablet {
    padding: 0;
    // border-bottom: none;
  }
}

.logotype__img {
  @include tablet {
    width: 174px;
    height: 59px;
  }

  @include desktop {
    width: 202px;
    height: 60px;
  }
}

.logotype__button {
  @include mobile-only {
    // width: 19px;
    // height: 19px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: auto;
    border: none;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 80% 80%;
    cursor: pointer;
  }

  @include tablet {
    display: none;
  }
}

.logotype__button--cross {
  @include mobile-only {
    background-image: url("../../img/icon-close.svg");
  }
}

.logotype__button--burger {
  @include mobile-only {
    background-image: url("../../img/icon-mobile-menu.svg");
  }
}
