.logotype {
  display: flex;
  align-items: center;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;
  padding-top: 13px;
  padding-bottom: 9px;
  border-bottom: 1px solid $color-gray-light;

  @include tablet {
    padding: 0;
    border-bottom: none;
  }
}

.logotype__img {
  @include tablet {
    width: 174px;
    height: 59px;
  }

  @include desktop {
    width: 202px;
    height: 60px;
  }
}

.logotype__button {
  width: 19px;
  height: 19px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 2px;
  border: none;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-position: center 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  @include tablet {
    display: none;
  }

  &:active {
    background-image: url("../../img/icon-close.svg");
  }
}

// подключим к кнопке позднее
// .logotype__button--hidden {
//   display: none;
// }
