.map {
  height: 362px;
  background-color: $color-gray-bright;
  background-image: url("../../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 44.57%, center 100%;
  background-size: 55px 53px, cover;


  @media (min-resolution: $retina-dppx) {
    height: 362px;
    background-image: url("../../img/map-pin.png"), url("../img/bg-map-mobile@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center 44.57%, center 100%;
    background-size: 55px 53px, cover;
  }

  @include tablet {
    height: 400px;
    background-image: url("../../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center 55%;
    background-size: 113px 108px, cover;


    @media (min-resolution: $retina-dppx) {
      height: 400px;
      background-image: url("../../img/map-pin.png"), url("../img/bg-map-tablet@2x.png");
      background-repeat: no-repeat, no-repeat;
      background-position: center, center 55%;
      background-size: 113px 108px, cover;
    }
  }

  @include desktop {
    height: 400px;
    width: 100%;
    background-image: url("../../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 113px 108px, cover;
    background-position: center 49%, 80% 55%;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-pin.png"), url("../img/bg-map-desktop@2x.png");
      background-repeat: no-repeat, no-repeat;
      background-position: center 49%, center 55%;
      background-size: 113px 108px, cover;
    }
  }
}

.map__iframe {
  display: block;
  width: 100%;

  @include tablet {
    height: 400px;
  }
}
