.map {
  height: 362px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-gray-bright;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
  }

  @include tablet {
    height: 400px;
    background-image: url("../../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.png");
    }
  }

  @include desktop {
    background-image: url("../../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
    }
  }
}

.map__iframe {
  display: block;
  width: 100%;

  @include tablet {
    height: 400px;
  }
}
