.navigation {
  @include tablet {
    width: 64.2%;
  }

  @include desktop {
    width: 40.4%;
  }
}

.navigation--closed .navigation__list {
  @include mobile-only {
    display: none;
  }
}

.navigation--opened .navigation__list {
  @include mobile-only {
    display: block;
  }
}

.navigation__list {
  @include list-reset-to-null();
  margin-right: 1px;
  text-align: center;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 19px;
  }

  @include desktop {
    margin-top: 20px;
  }
}

.navigation__item {
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  border-top: 1px solid $color-gray-light;

  @include tablet {
    max-width: 170px;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 15px;
    border-top: none;
  }

  @include desktop {
    max-width: 190px;
  }
}

.navigation__link {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;

  @include textomizer(medium, 20px, 20px, uppercase);

  @include tablet {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.navigation__item a[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
    transition-duration: 150ms;
  }

  &:active {
    opacity: 0.4;
  }
}

.navigation__link--active {
  @include tablet {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -10px;
      background-color: $color-green-bright;
    }
  }
}

.navigation__link--font-white {
  @include desktop {
    color: $color-white;
  }

  &::after {
    @include desktop {
      background-color: $color-white;
    }
  }
}
