.navigation {
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    max-width: 52%;
  }
}

.navigation__list {
  @include list-reset-to-null();
  margin-right: 1px;
  text-align: center;

  @include tablet {
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 0;
    width: 100%;
    display: flex;
  }
}

.navigation__item {
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;
  padding-top: 22.5px;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-gray-light;

  &:last-child {
    border-bottom: none;
  }

  @include tablet {
    padding: 0;
    margin-left: 35.5px;
    border-bottom: none;
  }

  @include desktop {
    margin-left: 34.5px;
  }
}

.navigation__link {
  display: inline-block;
  vertical-align: middle;

  @include textomizer(medium, 20px, 20px, uppercase);

  @include tablet {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.navigation__link--active {
  @include tablet {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -10px;
      background-color: $color-green-bright;
    }
  }
}

.navigation__link--font-white {
  @include desktop {
    color: $color-white;
  }

  &::after {
    @include desktop {
      background-color: $color-white;
    }
  }
}
