.pet {
  padding-top: 26px;
  padding-left: 19px;
  padding-right: $side-indent-mobile;
  padding-bottom: 9px;
  border-bottom: 1px solid $color-gray-catalog-border;

  @include tablet {
    padding-left: 71px;
    padding-right: $side-form-tablet;
    padding-bottom: 52px;
    border-bottom: none;
  }

  @include desktop {
    width: 51.1%;
    padding-top: 27px;
    padding-bottom: 0;
    padding-left: 41px;
    padding-right: 54px;
  }
}

.pet__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  @include tablet {
    margin-bottom: 19px;
  }
}

.pet__text {
  padding-bottom: 2px;

  @include textomizer(regular, 16px, 18px, uppercase);

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.pet__text--name {
  padding-right: 14px;

  @include tablet {
    padding-right: 16px;
  }
}

.pet__text--weight {
  padding-right: 17px;

  @include tablet {
    padding-right: 19px;
  }
}

.pet__text--old {
  padding-right: 15px;

  @include tablet {
    padding-right: 17px;
  }
}

.pet__input {
  flex: 1;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 15px;
  border: 1px solid $color-gray-half-light;

  @include textomizer(regular, 16px, 18px, uppercase);

  @include tablet {
    padding-top: 8.5px;
    padding-bottom: 11.5px;
    padding-left: 18px;
    font-size: 20px;
    line-height: 20px;
  }
}

.pet__input {
  outline: none;
  border: 1.5px solid $color-gray-half-light;
}

.pet__input::placeholder {
  opacity: 1;
}

.pet__input:hover,
.pet__input:focus {
  border: 1.5px solid $color-gray-light;
  transition-duration: 150ms;
}

.pet__input:active {
  border: 1.5px solid #444444;
}

.pet__input:not(:placeholder-shown):invalid {
  border: 1.5px solid #ff8282;
}
