.plan {
  padding-top: 20px;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;
  padding-bottom: 9px;
  border-bottom: 1px solid $color-gray-catalog-border;

  @include tablet {
    margin-left: 71px;
    margin-right: $side-form-tablet;
    padding-bottom: 15px;
    border: 1px solid $color-gray-catalog-border;
  }

  @include desktop {
    width: 43.8%;
    margin-left: 13.5px;
    margin-top: 27px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
}

.plan__link {
  @include list-reset-to-null;
}

.plan__item {
  margin-bottom: 12.4px;

  @include tablet {
    margin-bottom: 7px;
  }
}

.plan__radio {
  display: none;
}

.plan__label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 6px;

  @include textomizer(regular, 16px, 18px, uppercase);

  @include tablet {
    padding-left: 66px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    line-height: 20px;
  }
}

.plan__label::before {
  content: "";
  width: 31px;
  height: 30px;
  position: absolute;
  left: -0.5px;
  top: -0.5px;
  border: 1px solid $color-gray-light;
  border-radius: 50%;

  @include tablet {
    width: 40px;
    height: 40px;
    left: 7px;
    top: 4px;
  }
}

.plan__radio:checked + .plan__label::after {
  content: "";
  background-color: $color-green-bright;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 8.5px;

  @include tablet {
    width: 18px;
    height: 18px;
    top: 15px;
    left: 18px;
  }
}

.plan__label:focus,
.plan__label:hover {
  opacity: 0.8;
}

.plan__label:active {
  opacity: 0.4;
}

.plan__radio:disabled + .plan__label {
  opacity: 0.4;
}
