.show-more {
  min-height: 209px;

  &__title {
    @include textomizer(regular, 16px, 20px, uppercase);
  }

  &__text {
    @include textomizer(arial, 12px, 16px);
  }

  &__btn {
    @include textomizer(regular, 16px, 20px, uppercase);
    border: none;
    background-color: #f2f2f2;
  }
}
