.socials {
  min-height: 236px;
  background-color: #f2f2f2;

  &__logo-wrapper {
    border-bottom: 1px solid #d9d9d9;
  }

  &__list {
    @include flexible();
    flex-direction: row;
    padding: 0;
    list-style-type: none;
    border-bottom: 0.5px solid #d9d9d9;
  }

  &__link {
    display: inline-block;
    vertical-align: center;
    font-size: 0;
    text-decoration: none;
  }
}
