.strategy {
  padding-top: 21px;
  padding-bottom: 0;
  padding-right: $side-indent-mobile;
  padding-left: $side-indent-mobile;

  @include tablet {
    padding-top: 0;
    padding-right: $side-indent-tablet;
    padding-left: $side-indent-tablet;
  }

  @include desktop {
    max-width: $max-screen-width;
    margin: 0 auto;
    padding-right: $side-indent-desktop;
    padding-left: $side-indent-desktop;
  }
}

.strategy__list {
  @include list-reset-to-null;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.strategy__item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 9.5px;
  padding-right: 21px;
  padding-left: 20px;
  background-color: $color-gray-bright;

  @include tablet {
    display: block;
    min-height: 372px;
    padding-top: 71px;
    padding-left: 52px;
  }

  @include desktop {
    display: flex;
    width: 46.65%;
    padding-top: 46px;
    padding-bottom: 39px;
  }
}

.strategy__item--next {
  margin-top: 20px;

  @include tablet {
    margin-top: 30px;
  }

  @include desktop {
    margin-top: 0;
  }
}

.strategy__icon {
  width: 50px;
  height: 50px;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 19px;
  background-color: $color-green-bright;
  border-radius: 50%;

  @include tablet {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 40.5px;
    margin-left: 15px;
    float: right;
  }

  @include desktop {
    width: 100px;
    height: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 59px;
  }
}

.strategy__icon-cat-slim {
  margin-top: -2.5px;
  margin-left: 8px;

  @include tablet {
    width: 141px;
    height: 194px;
    margin-top: -10.5px;
    margin-left: 29px;
  }

  @include desktop {
    width: 71px;
    height: 97px;
    margin-top: -6px;
    margin-left: 14.5px;
  }
}


.strategy__icon-cat-pro {
  margin-top: 10.5px;
  margin-left: -9px;

  @include tablet {
    width: 268px;
    height: 113px;
    margin-top: 42.5px;
    margin-left: -35px;
  }

  @include desktop {
    width: 134px;
    height: 57px;
    margin-top: 20px;
    margin-left: -19px;
  }
}

.strategy__icon--modified {
  @include tablet {
    margin-left: 52px;
    margin-right: 40px;
  }

  @include desktop {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 60px;
  }
}

.strategy__title {
  flex: 1;
  margin-top: 6px;
  margin-bottom: 15.5px;

  @include textomizer(regular, 24px, 37.02px, uppercase);

  @include tablet {
    min-width: 250px;
    margin-bottom: 24px;
    margin-left: 1.5px;
    font-size: 36px;
  }

  @include desktop {
    margin-top: 30px;
    margin-bottom: 47.5px;
  }
}

.strategy__text {
  margin-bottom: 5px;
  padding-bottom: 22.5px;

  @include textomizer(arial, 14px, 18px);
  border-bottom: 1px solid $color-gray-darker;

  @include tablet {
    margin-bottom: 34px;
    margin-left: 1px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @include desktop {
    padding-bottom: 0;
    margin-bottom: 7px;
  }
}

.strategy__link {
  display: block;
  margin-top: 13.5px;
  margin-bottom: 12.5px;

  @include textomizer(regular, 16px, 16px, uppercase);

  @include tablet {
    margin-left: 1px;
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 11px;
    margin-left: 12px;
    margin-bottom: 1px;

    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @include tablet {
      margin-left: 23px;
      margin-bottom: 3px;
    }
  }
}
