.supple {
  padding-top: 19px;
  padding-bottom: 16px;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 11.5px;
  }

  @include desktop {
    padding-top: 26px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20.5px;
  }
}

//---------------------


// .comments__title::before,
// .comments__title::after {
//   content: "";
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   width: 100%;
//   height: 3px;
//   background-color: $color-green-bright;

//   @include tablet {
//     height: 4px;
//   }
// }

// .comments__title::before {
//   margin-left: -100%;
//   right: 23px;

//   @include tablet {
//     right: 39px;
//     top: -1px;
//   }

//   @include desktop {
//     top: 0;
//   }
// }

// .comments__title::after {
//   margin-right: -100%;
//   left: 22px;
//   top: -1px;

//   @include tablet {
//     left: 41px;
//     top: -1px;
//   }

//   @include desktop {
//     top: 0;
//   }
// }
//---------------------

.supple__title {
  margin-top: 0;
  margin-bottom: 34px;
  padding-bottom: 5px;
  padding-left: 19px;
  padding-right: $side-indent-mobile;
  overflow: hidden;

  @include textomizer(regular, 24px);

  @include tablet {
    margin-bottom: 62px;
    padding-left: 69px;
    padding-right: $side-form-tablet;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    width: 100%;
    max-width: 1440px;
    margin-bottom: 61px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 109px;
    padding-right: 109px;
  }
}

.supple__title::before,
.supple__title::after {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 3px;
  background-color: $color-green-bright;

  @include tablet {
    height: 4px;
  }
}

.supple__title::before {
  margin-left: -100%;
  right: 23px;

  @include tablet {
    right: 39px;
  }
}

.supple__title::after {
  margin-right: -100%;
  left: 23.5px;
  top: -1px;

  @include tablet {
    left: 42px;
    top: 0;
  }
}

.supple__list {
  @include list-reset-to-null;
  padding-left: $side-indent-mobile;
  padding-right: $side-indent-mobile;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: $side-form-tablet;
  }

  @include desktop {
    max-width: $max-screen-width;
    margin: 0 auto;
    padding-left: 39px;
    padding-right: 39px;
  }
}

.supple__item {
  margin-bottom: 22.5px;
  margin-left: 46px;

  @include tablet {
    margin-bottom: 49.5px;
    margin-left: 58px;
    width: 36.25%;
  }

  @include desktop {
    width: 15.48%;
  }
}

.supple__input {
  display: none;
}

.supple__input + .supple__label {
  position: relative;
  width: 100%;
  cursor: pointer;

  @include textomizer(regular, 16px, 18px, uppercase);

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.supple__input + .supple__label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -1px;
  width: 30px;
  height: 30px;
  display: block;
  background: white;
  border: 1px solid #cfcfcf;

  @include tablet {
    left: -58px;
    top: -5px;
    width: 40px;
    height: 40px;
  }

  @include desktop {
    top: -4px;
  }
}

.supple__input + .supple__label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: 5px;
  width: 23px;
  height: 23px;
  display: block;
  z-index: 1;
  color: #68b738;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  transform: scale(0);
  opacity: 0;

  @include tablet {
    left: -49px;
    top: 7px;
  }

  @include desktop {
    top: 8px;
  }
}

.supple__input:checked + .supple__label::after {
  transform: scale(1);
  opacity: 1;
}
