// @mixin mobile {
//   // width: 320px. Вспомогательная. После - убрать;
//   @media (width: $breakpoint-mobile) {
//     @content;
//   }
// }


@mixin tablet {
  // min-width: 480
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desctop {
  // min-width: 768
  @media (min-width: $breakpoint-desctop) {
    @content;
  }
}

@mixin flexible() {
  display: flex;
  flex-wrap: wrap;
}

@mixin list-reset-to-null {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin textomizer($type:regular,$set-size:14px,$set-height:$set-size,$set-transform:none,$set-color:$color-black) {
  @if $type == regular {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
  }

  @else if $type == medium {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
  }

  @else if $type == arial {
    font-family: "Arial", sans-serif;
    font-weight: 400;
  }
  font-size: $set-size;
  line-height: $set-height;
  text-transform: $set-transform;
  color: $set-color;
  text-decoration: none;
}
