html {
  box-sizing: border-box;
}

body {
  width: auto;
  margin: 0 auto;

  // background-image: url("../../img/__cat-energy-catalog-desktop.jpg");

  // background-image: url("../../img/__cat-energy-index-tablet.jpg");
  // background-image: url("../../img/__cat-energy-index-desktop.jpg");
  // background-image: url("../../img/__cat-energy-catalog-tablet.jpg");
  // background-image: url("../../img/__cat-energy-form-mobile.jpg");
  // background-image: url("../../img/__cat-energy-catalog-mobile.jpg");
  // background-image: url("../../img/__cat-energy-form-desktop.jpg");
  // background-image: url("../../img/__cat-energy-form-tablet.jpg");

  // background-image: url("../../img/__cat-energy-index-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: 50% 0;
  // opacity: 0.5;
}

*,
::after,
::before {
  box-sizing: inherit;
}
