$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #cdcdcd;
$color-gray-half-light: #e6e6e6;
$color-gray-catalog-border: #ededed;
$color-gray-darker: #d9d9d9;
$color-gray-bright: #f2f2f2;
$color-gray-index-background: #eaeaea;
$color-green-bright: #68b738;
$color-gray-hover: #707070;
$color-gray-down: #b7b7b7;

$side-indent-mobile: 20px;
$side-indent-tablet: 30px;
$side-indent-desktop: 40px;
$side-form-tablet: 67px;
$side-intro-indent-desktop: 79px;
$side-example-indent-desktop: 110px;
$side-catalog-indent-mobile: 18.5px;

$breakpoint-mobile: 320px;
$breakpoint-mobile-only: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1220px;
$max-screen-width: 1300px;

$retina-dppx: 1.5dppx;
