$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #cdcdcd;
$color-gray-half-light: #e6e6e6;
$color-gray-catalog-border: #ededed;
$color-gray-darker: #d9d9d9;
$color-gray-bright: #f2f2f2;
$color-gray-index-background: #eaeaea;
$color-green-bright: #68b738;

$side-indent-mobile: 20px;
$side-indent-tablet: 30px;
$side-catalog-indent-mobile: 18.5px;
$side-indent-desktop: 110px;
$side-intro-indent-desktop: 79px;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1220px;
